/** =========================================================================
    Reset
    ========================================================================= */

* {
    border: 0;
    line-height: 1em;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header:after,
footer:after,
section:after,
main:after,
aside:after,
figure:after,
div:after,
ol:after,
li:after,
form:after,
ul:after,
dl:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    outline: #333 solid 1px;
}

hr {
    display: none;
}

.clear {
    clear: both;
}

/* Util
============================================================================= */

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.desktop-only {
    display: block;
}

@media (max-width: 980px) {
    .desktop-only {
        display: none;
    }
}

/* Text selection
============================================================================= */

::-moz-selection {
    background: #f16529;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #f16529;
    color: #fff;
    text-shadow: none;
}

/** =========================================================================
    Structure
    ========================================================================= */

html, body {
    height: 100%;
}

body {
    background-color: #3a99d7;
    font-family: 'Raleway', sans-serif;
}

header, section {
    display: block;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.page-wrap {
    min-height: 100%;
    /* equal to .credits height */
    margin-bottom: -70px;
}

.page-wrap:after {
    content: "";
    display: block;
    /* equal to .credits height */
    height: 70px;
}

/** =========================================================================
    Header
    ========================================================================= */

.header {
    background-image: -moz-radial-gradient(center, contain ellipse, rgba(255,255,255,.6) 20%, rgba(255,255,255,.2) 70%, rgba(255,255,255,0));
    background-image: -webkit-radial-gradient(center, contain ellipse, rgba(255,255,255,.6) 20%, rgba(255,255,255,.2) 70%, rgba(255,255,255,0));
    background-image: radial-gradient(center, contain ellipse, rgba(255,255,255,.6) 20%, rgba(255,255,255,.2) 70%, rgba(255,255,255,0));
    background-position: center -100px;
    background-repeat: no-repeat;
    background-size: 800px 450px;
    margin: -40px auto 0;
    overflow: hidden;
    padding-top: 50px;
    position: relative;
}

.header .logo {
    display: inline-block;
    left: 50%;
    margin: 0 0 0 -123px;
    position: relative;
}

.header .title,
.header .subtitle {
    color: #fff;
    margin: 0;
    padding: 0 20px;
    position: relative;
    text-align: center;
}

.header .title {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 10px;
}

.header .subtitle {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2em;
    margin-bottom: 40px;
    text-transform: lowercase;
}

/* --- Two columns --- */
@media (max-width: 980px) {
    .header .title {
        font-size: 3em;
    }

    .header .subtitle {
        margin-bottom: 20px;
    }
}

/* --- One column --- */
@media (max-width: 660px) {
    .header .title {
        margin-top: 20px;
        font-size: 2em;
    }

    .header .subtitle {
        font-size: 1.2em;
    }
}

/* --- Tiny screens --- */
@media (max-width: 320px) {
    .header .title {
        font-size: 1.6em;
    }

    .header .subtitle {
        font-size: 1em;
    }
}

/** =========================================================================
    Bar
    ========================================================================= */

.header-bar {
    background-color: rgba(22, 100, 151, .8);
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .1);
    text-align: left;
    margin-bottom: 40px;
}

.header-bar .logo {
    float: left;
    margin-left: 20px;
    padding: 10px 20px;
    width: 95px;
}

.menu-button {
    display: none;
}

.nav {
    padding-top: 23px;
}

.nav, .nav-item {
    float: left;
    list-style: none;
}

.nav-item {
    height: 1em;
    overflow: hidden;
    padding: 0 20px;
}

.nav-link {
    color: #fff;
    display: block;
    font-size: 1em;
    line-height: 1em;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform .3s linear;
    -moz-transition: -moz-transform .3s linear;
    transition: transform .3s linear;
}

.nav-link::before {
    color: #fff;
    content: attr(title);
    font-weight: 700;
    position: absolute;
    top: 105%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav-link:hover, .nav-link:focus {
    -webkit-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    transform: translateY(-110%);
    text-decoration: none;
}

/* --- Centralized header bar --- */
@media (max-width: 980px) {
    .header-bar .logo {
        border: none;
        display: block;
        float: none;
        margin-left: 0;
        text-align: center;
    }

    .menu-button {
        background-color: rgba(22, 100, 151, .8);
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        margin: -4px 0 0 0;
    }

    .menu-button span {
        width: 25px;
        background: rgb(255, 255, 255);
        height: 6px;
        display: block;
        margin: 3px
    }

    .nav {
        padding-top: 0;
    }

    .nav, .nav-item {
        float: none;
        list-style: none;
        text-align: center;
    }

    .nav-item {
        overflow: hidden;
        height: 50px;
        background: rgba(22, 100, 151, .8);
    }

    .nav-item:not(:first-child){
        border-top: 1px solid rgb(28, 110, 162);
    }

    .nav-link {
        height: 50px;
        line-height: 3.4em;
    }

    .nav-link::before {
        content: '';
    }

    .nav-link:focus,.nav-link:hover {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


@media (max-width: 1100px) {
    .nav-item {
        padding: 0 15px;
    }
}

/* Search Box
============================================================================= */

.search-box {
    float: right;
    padding-top: 2px;
    width: 320px;
}

.search-box * {
    line-height: normal;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* --- Centralized header bar --- */
@media (max-width: 980px) {
    .search-box {
        float: none;
        margin: 10px auto 0;
    }
}

@media (max-width: 1100px) {
    .search-box {
        width: 260px;
    }
}

/* --- Google CSE overwrite --- */
.gsc-search-box {
    margin-bottom: 0 !important;
}

.gsst_a {
    padding-top: 7px !important;
}

.gsc-input {
    color: #434a54 !important;
    font-family: 'Raleway', sans-serif !important;
    font-size: 1em !important;
}

.gsc-orderby-label, .gsc-selected-option {
    line-height: 2.4em !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    display: inline-block !important;
}

/** =========================================================================
    Grid
    ========================================================================= */

.card-container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 40px 40px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.layout-home {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.layout-archive {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}


/* --- Two columns --- */
@media (max-width: 980px) {
    .card-container {
        padding: 0 20px;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
        column-gap: 20px;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* --- One column --- */
@media (max-width: 660px) {
    .card-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

/** =========================================================================
    Cards
    ========================================================================= */

.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .1);
    margin-bottom: 50px;
    overflow: hidden;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}

.card:after {
    content: "";
}

.card h3 {
    border-bottom: 1px solid #f2f4f6;
    color: #434a54;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0;
    padding: 10px 20px 5px;
    text-align: center;
    text-transform: uppercase;
}

.card p {
    color: #434a54;
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 0;
}

.card .title {
    color: #434a54;
    font-size: .9em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3em;
}

.card .description {
    color: #434a54;
    font-size: .8em;
    margin-top: 0;
}

/* --- Two columns --- */
@media (max-width: 980px) {
    .card {
        margin-bottom: 20px;
    }
}

/* Card ~ Story (Articles, Presentations)
============================================================================= */

.card-story {
    padding: 0 20px;
}

.card-story p {
    padding: 10px 0;
}

.card-story .description p {
    padding: 5px 0;
}

.card-story .description a {
    color: #3a99d7;
}

.card-story .title {
    margin: 10px 0 0;
    display: inline-block;
}

.story-image {
    display: block;
    overflow: hidden;
    margin-left: -20px;
    margin-right: -20px;
}

.story-image img {
    width: 100%;
}

.see-all {
    background: rgb(22, 100, 151);
    color: #fff;
    display: block;
    font-size: .9em;
    line-height: 1em;
    padding: 10px 0;
    text-align: center;
    text-transform: lowercase;
    margin-left: -20px;
    margin-right: -20px;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.see-all:hover {
    background: rgba(22, 100, 151, .9);
    text-decoration: none;
}

/* Card ~ Links (Specs, Polyfills, Discover)
============================================================================= */

.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link-list li {
    border-bottom: 1px solid #f2f4f6;
}

.link-list .icon {
    float: left;
    margin: 0 .8em 0 1.3em;
}

.link-list a {
    display: block;
    padding: 1em 0;
    text-decoration: none;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.link-list a:hover {
    background: #f2f2f2;
}

.link-list p {
    margin: 0 20px 0 87px;
}

/* Card ~ Community
============================================================================= */

.profile-list {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.profile-list li {
    display: inline-block;
    padding: 10px;
    width: 21%;
}

.profile-list li a {
    display: inline-block;
}

.profile-list li a:hover {
    text-decoration: none;
}

.profile-list .picture {
    border-radius: 50%;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
}

.profile-list .name {
    color: #434a54;
    margin-top: 0;
    text-align: center;
}

.profile-list li:last-child .name {
    color: #3a99d7;
}

.profile-list li:last-child .name:hover {
    text-decoration: underline;
}

/* Card ~ What
============================================================================= */

.card-what .description {
    font-size: .9em;
    line-height: 1.6em;
    padding: 20px;
}

/* Card ~ Browser Support
============================================================================= */

.status-table {
    margin: .5em auto;
    width: 100%;
}

.status-table a {
    display: block;
}

.status-table td {
    font-size: .6em;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    width: 45px;
}

.status-table .icon-status {
    height: 23px;
    margin: 0 auto;
    width: 27px;
}

.status-table .icon-status-green  { background: #5bee00; }
.status-table .icon-status-red    { background: #ff5c03; }
.status-table .icon-status-yellow { background: #ffea03; }

.card .status-credits {
    font-size: .8em;
    font-style: italic;
    padding: 10px 20px;
    text-align: center;
}

/** =========================================================================
    Archive
    ========================================================================= */

.layout-archive .title,
.layout-single .title {
    color: #434a54;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: none;
    padding-top: 10px;
}

.card-story .post-author,
.card-story .post-location,
.card-story .post-date {
    float: left;
    font-size: .9em;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.card-story .post-location,
.card-story .post-date {
    margin: 0 0 0 20px;
}

.layout-archive .description,
.layout-single .description {
    font-size: .9em;
    padding: 0 0 10px 0;
}

.card-story .post-author {
    color: #434a54;
}

.card-story .post-author a {
    color: #ff5c03;
    display: inline;
}

.card-story .post-location,
.card-story .post-date {
    color: #9c9c9c;
    padding-left: 0;
    text-transform: none;
}

.card-story .post-edit {
    color: #ff5c03;
    font-size: .9em;
}

.card-story .post-edit a {
    color: #ff5c03;
}

.card-story .description .read-more {
    color: #ff5c03;
    margin: 5px 0 10px;
    display: inline-block;
}

/* Pagination
============================================================================= */

.pagination ul {
    font-size: 1.1em;
    margin: 20px 0 40px;
    text-align: center;
}

.pagination li {
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    padding: 5px;
    text-transform: lowercase;
}

.pagination li.active {
    background: #166497;
}

.pagination li.disabled {
    color: #166497;
}

.pagination a {
    color: #fff;
}

/** =========================================================================
    Single
    ========================================================================= */

.layout-single {
    margin: 0 auto;
    padding: 0 40px;
}

.layout-single .single-content,
.layout-single .single-sidebar {
    float: left;
}

.layout-single .single-content {
    margin-right: 5%;
    width: 65%;
}

.layout-single .single-sidebar {
    width: 30%;
}

.layout-single .title {
    font-size: 1.5em;
    margin: 20px 0 0;
    padding-top: 0;
    padding-bottom: 0;
}

.layout-single .title:hover {
    text-decoration: none;
}

.layout-single .description p,
.layout-single .description li {
    line-height: 1.5em;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.layout-single .description ol,
.layout-single .description ul {
    margin: 10px 20px 0 40px;
}

.layout-single .description h1,
.layout-single .description h2,
.layout-single .description h3,
.layout-single .description h4,
.layout-single .description h5,
.layout-single .description h6 {
    margin: 20px 0 10px;
    text-align: left;
    padding-left: 0;
}

#disqus_thread a {
    color: #3a99d7;
}

/* --- One column --- */
@media (max-width: 980px) {
    .layout-single {
        padding: 0 20px;
    }

    .layout-single .single-content,
    .layout-single .single-sidebar {
        float: none;
        width: 100%;
    }

    .layout-single .single-content {
        margin-right: 0;
    }
}

/* --- Responsive <iframe> --- */

.video-wrap {
    height: 0;
    margin-bottom: 18px;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}

.video-wrap iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* Author
============================================================================= */

.card-author {
    padding: 20px;
}

.card-author .author-avatar {
    border-radius: 50%;
    float: left;
}

.card-author .author-name {
    font-size: 1.2em;
    margin-left: 100px;
    margin-top: 15px;
}

.card-author .author-bio {
    font-size: .9em;
    margin-top: 10px;
}

.card-author .author-twitter {
    font-size: .9em;
    margin-left: 100px;
}

.card-author .author-twitter a {
    color: #ff5c03;
}

/* Tags
============================================================================= */

.tag-title {
    color: #fff;
    margin-left: 40px;
    margin-bottom: 30px;
    font-weight: 400;
}

.tag-title span {
    font-weight: 700;
}

.tag-list li {
    border-bottom: 1px solid #f2f4f6;
}

.tag-list li a {
    color: #434a54;
    display: block;
    font-size: .9em;
    padding: 15px 0 15px 20px;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.tag-list li a:hover {
    background: #f2f2f2;
    text-decoration: none;
}

.tag-list li span {
    color: #9c9c9c;
    margin-right: 3px;
}

/* Comments
============================================================================= */

.card-comments {
    padding: 20px;
}

/** =========================================================================
    Credits
    ========================================================================= */

.credits {
    min-height: 70px;
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}

.credits p {
    float: left;
    margin: 0 0 0 40px;
}

.credits-link {
    color: #3a99d7;
}

.credits-link:hover {
    text-decoration: underline;
}

.credits .love {
    color: #e74c3c;
    display: inline-block;
    font-size: 1.4em;
    position: relative;
    top: .2em;
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    transform: scale(.9);
    -webkit-animation: love .5s infinite linear alternate-reverse;
    -moz-animation: love .5s infinite linear alternate-reverse;
    animation: love .5s infinite linear alternate-reverse;
}

@-webkit-keyframes love {
    to { -webkit-transform: scale(1.2); }
}

@-moz-keyframes love {
    to { -moz-transform: scale(1.2); }
}

@keyframes love {
    to { transform: scale(1.2); }
}

/* Social buttons
============================================================================= */

.social-buttons {
    float: right;
    list-style: none;
    text-align: right;
    margin-right: 40px;
}

.social-buttons li {
    display: inline-block;
    margin-left: 5px;
    overflow: hidden;
}

.tweet-btn  { width: 100px; }
.fb-btn     { width: 80px;  }
.gplus-btn  { width: 70px;  }
.github-btn { width: 85px;  }

/* -- Centralized footer -- */
@media (max-width: 980px) {
    .social-buttons {
        display: none;
    }
    .credits p {
        float: none;
        text-align: center;
        margin: 0;
        line-height: 1.5em;
    }
}

/* --- Tiny screens --- */
@media (max-width: 320px) {
    .credits p {
        font-size: .9em;
    }
}


/** =========================================================================
    Sandbox
    ========================================================================= */

#suggest-form {
    margin: 10px 20px 20px;
}

#suggest-input {
    border-radius: 6px;
    border: 2px solid #d1d7db;
    color: #34495e;
    font-size: 15px;
    height: 42px;
    padding: 8px 12px;
    width: 100%;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

#suggest-input:focus {
    border: 2px solid #bdc3c7;
}

.suggest-btn {
    background-color: #166497;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    margin: 10px 0 0;
    padding: 12px;
    text-align: center;
    width: 100%;
}

/** =========================================================================
    Resources
    ========================================================================= */

#resources .icon-github-alt {
    color: #434a54;
}

/** =========================================================================
    Fonts
    ========================================================================= */

@font-face {
    font-family: 'WebComponentsOrg';
    src:url('../font/WebComponentsOrg.eot');
    src:url('../font/WebComponentsOrg.eot?#iefix') format('embedded-opentype'),
        url('../font/WebComponentsOrg.woff') format('woff'),
        url('../font/WebComponentsOrg.ttf') format('truetype'),
        url('../font/WebComponentsOrg.svg#WebComponentsOrg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'WebComponentsOrg';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;

    /* Better Font Rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tag:before { content: "\e600"; }
.icon-clock:before { content: "\e60c"; }
.icon-location:before { content: "\e601"; }
.icon-pencil:before { content: "\e602"; }
.icon-arrow-right:before { content: "\e603"; }
.icon-github-alt:before { content: "\f113"; }
