<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Web Components</title>

    <!-- CSS -->
    <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <!--[if lt IE 10]>
    <link rel="stylesheet" media="all" href="assets/css/ielt10.css">
    <![endif]-->

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet" type="text/css">
</head>
