  <nav class="sidebar">
    <header><a href="index.html"><img class="logo" src="assets/img/webcomponents.png"/> 
</a></header>
    <ul>
      <li class="nav-divider"><a href="index.html"><img src="assets/img/icon-home.png">Home</a></li>
      <li class="nav-divider">
        <a href="bestpractices.html"><img src="assets/img/icon-why-yeoman.png">Best Practices</a>
        <a href="learn.html"><img src="assets/img/icon-why-yeoman.png">Community Resources</a>
        <a href="http://sindresorhus.com/bower-components/#!/search/web-components"><img src="assets/img/icon-why-yeoman.png">Elements on Bower</a>
        <a href="https://groups.google.com/forum/#!forum/polymer-dev"><img src="assets/img/icon-why-yeoman.png">Mailing List</a>
         <a href="about.html"><img src="assets/img/icon-why-yeoman.png">About</a>
      </li>
      <li class="nav-divider">
        <a href="http://www.polymer-project.org/platform/custom-elements.html"><img src="assets/img/icon-why-yeoman.png">Custom Elements</a>
        <a href="http://www.polymer-project.org/platform/html-imports.html"><img src="assets/img/icon-why-yeoman.png">HTML Imports</a>
        <a href="http://www.polymer-project.org/platform/template.html"><img src="assets/img/icon-why-yeoman.png">Templates</a>
        <a href="http://www.polymer-project.org/platform/shadow-dom.html"><img src="assets/img/icon-why-yeoman.png">Shadow DOM</a>
      </li>
      </li>
      <li class"nav-divider"><a href="https://plus.google.com/+WebComponents"><img src="assets/img/icon-google-plus.png">Google&#43;</a></li>
      <li class="nav-divider"><a href="http://twitter.com/WebComponents"><img src="assets/img/icon-twitter.png">Twitter</a></li>
      <li><a href="http://github.com/WebComponentsOrg/webcomponents.org"><img src="assets/img/icon-github.png">GitHub</a></li>
      <li><a href="https://github.com/WebComponentsOrg/webcomponents.org/blob/master/contributing.md"><img src="assets/img/icon-contributing.png">Contributing</a></li>
    </ul>
  </nav>
